@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-inter: 'Inter', sans-serif;
  --font-bricolage-grotesque: 'Bricolage Grotesque', sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-inter), var(--font-bricolage-grotesque), sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


.custom-prev-button,
.custom-next-button {
    background-color: #F5F5F5;
    color: #44474C;
    padding: 8px 16px;
    border-radius: 8px;
    cursor: pointer;
    border: none;
    transition: background-color 0.3s;
    position: relative; /* Stelle sicher, dass der Button sichtbar bleibt */
    z-index: 10; /* Hoher z-index, damit es über dem Slider liegt */
}

.custom-prev-button:hover,
.custom-next-button:hover {
    background-color: #E7F5FD;
}

.custom-prev-button {
    position: absolute;
    left: 10px; /* Passe diese Werte an, um die Positionierung sicherzustellen */
    top: 50%;
    transform: translateY(-50%);
}

.custom-next-button {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}


/* Hide the scrollbar by default */
.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Hide scrollbar for WebKit-based browsers (Chrome, Safari) */
}

.scrollbar-hide {
  -ms-overflow-style: none; /* Hide scrollbar for Internet Explorer and Edge */
  scrollbar-width: none;    /* Hide scrollbar for Firefox */
}

/* Show the scrollbar on hover */
.hover\:scrollbar-visible:hover::-webkit-scrollbar {
  display: block; /* Make scrollbar visible on hover for WebKit-based browsers */
}

.hover\:scrollbar-visible:hover {
  scrollbar-width: thin; /* Show a thin scrollbar on hover for Firefox */
}
